@import "../styles/common.scss";

$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200



body{
    width: 100%;
}

.sharing-container{
  @media (max-width: $medium){
    margin: 20px 0px;
  }
  @media (min-width: $medium){
    margin: 20px 25px;
  }
  @media (min-width: $large){
    margin: 20px 50px;
  }
  .sharing-content{
    background-color: white;
    padding: 15px;

    .sharing-title{
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid #ced4da;
      padding-bottom: 8px;
      margin-bottom: 10px;
    }
  }
}

.sharing-modal-container{
  .sharing-modal-header{
  text-align: center;
  margin-bottom: 10px;
  }
}

.modal-dialog{
  // margin: auto 0;
}



.sharing-manage-container{
  padding: 20px;

  .sharing-manage-title{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
  }

  .sharing-manage-add{
    .add-btn{
      padding: 10px;
      height: fit-content;
    }
  }

  .sharing-manage-sort{
    margin-top: 20px;

    .sharing-manage-sort-title{
      font-size: 20px;
      font-weight: 700;
    }

    .sharing-sort-section{
      display: flex;
      align-items: center;

      label{
        text-align: center;
      }
    }
  }
}

.manage-sharing-table{
    margin-top: 50px;
 
     .sharing-table{
         width: 100%;
         margin: 20px 0;
 
         td, th {
           border: 1px solid #ddd;
           padding: 8px;
           text-align: center;
         }
           
         tr:nth-child(even){background-color: #f2f2f2;}
           
         tr:hover {background-color: #ddd;}
           
         th {
           padding-top: 12px;
           padding-bottom: 12px;
           text-align: center;
           background-color: #04AA6D;
           color: white;
         }
 
         .btn-edit{
           border: none;
           outline: none;
           background-color: transparent;
           color: orange;
           cursor: pointer;
           margin: 0 10px ;
   
           &:hover{
             background-color: green;
             color: white;
             border-radius: 20px;
           }
         }
   
         .btn-delete{
           border: none;
           outline: none;
           background-color: transparent;
           color: red;
           cursor: pointer;
           margin: 0 10px ;
   
           &:hover{
             background-color: green;
             color: white;
             border-radius: 20px;
           }
         }

         .product-img{
            background-color: white;
            height: 150px;

            .img{
              height: 150px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }
          
         }
     }
}

.custom-input {
  position: relative;

  .custom-input-item{
    position: absolute;
    right: 25px;
    top: 35px;
    cursor: pointer;
  }

  .get-code-text{
    font-weight: 600;
    color: #2489F4;
  }
  
  i.show-hide-icon {
      // position: absolute;
      // right: 25px;
      // top: 40px;
      // cursor: pointer;
  }
}



//  ._loading_overlay_wrapper{
//     // height: 100vh;
//     // height: 100vh;
//     ._loading_overlay_overlay{
//       position: relative;
//       background-color: transparent;


//       ._loading_overlay_content{
//         margin: auto;
//         color: #F7941E;
//         font-weight: 600;
//         font-size: 1em;

//         ._loading_overlay_spinner{
//           @keyframes spinner {
//             0% {
//               transform: rotate(0deg);
//             }
//             100% {
//               transform: rotate(360deg);
//             }
//           }

//           width: 70px;
//           height: 70px;
//           border: 10px solid #f3f3f3; 
//           border-top: 10px solid #F7941E; 
//           border-radius: 50%;
//           -webkit-animation: spinner 1s linear infinite;

//           svg{
//             display: none;
//           }
//         }
//      }
//    }
//  }

//  .product-loading{
//   ._loading_overlay_wrapper{
//     // height: 100vh;
//     // height: 100vh;
//     ._loading_overlay_overlay{
//       position: relative;
//       background-color: transparent;


//       ._loading_overlay_content{
//         margin: auto;
//         color: #F7941E;
//         font-weight: 600;
//         font-size: 1em;

//         ._loading_overlay_spinner{
//           @keyframes spinner {
//             0% {
//               transform: rotate(0deg);
//             }
//             100% {
//               transform: rotate(360deg);
//             }
//           }

//           width: 70px;
//           height: 70px;
//           border: 10px solid #f3f3f3; 
//           border-top: 10px solid #F7941E; 
//           border-radius: 50%;
//           -webkit-animation: spinner 1s linear infinite;

//           svg{
//             display: none;
//           }
//         }
//      }
//    }
//  }
//  }

  .Fullscreen_wrapper{
    // height: 100vh;
    
    .Fullscreen_overlay{
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      .Fullscreen_content{
        color: #F7941E;
        font-weight: 600;
        font-size: 1em;
        text-align: center;

        .Fullscreen_spinner{
          @keyframes spinner {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }

          width: 70px;
          height: 70px;
          border: 10px solid #f3f3f3; 
          border-top: 10px solid #F7941E; 
          border-radius: 50%;
          -webkit-animation: spinner 1s linear infinite;

          svg{
            display: none;
          }
        }
     }
   }
 }



 .error-message{
  text-align: center;
  color:#dc3545;
  font-size: 15px;
}

.sharing-link-content{
  &:hover{
    text-decoration: none;
  }
}