.changing-password-success-container{
    // margin: 20px 50px;
    .changing-password-success-content{
        background-color: white;
        border-radius: 10px;
        display: block;
        text-align: center;
        padding: 30px 0;
        

        .changing-password-success-title{
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 600;
            color:#C92127
        }

        .changing-password-success-icon{
            background: url('../../../assets/green-check-mark-icon-symbol-logo-circle-tick-symbol-green-color-vector-illustration_685751-503.avif') center center no-repeat;
            height: 150px;
            background-size: contain;
        }

        .sign-in-button{

            display: flex;
            justify-content: center;
                    
                    button{
                        font-weight: 600;
                        color: white;
                        background-color: #C92127;
                        border: none;
                        width: 245px;
                        border-radius: 8px;
                        padding: 10px 0;
                    }
        }

    }
}