$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

@media (max-width: $medium){
    .log-in-container{
        margin-bottom: 30px;
       .log-in-content{
            .log-in-form{
                width: 60%;
             }
        }
    }
}

@media (min-width: $medium){
    .log-in-container{
        margin: 10px 25px;
       .log-in-content{
            .log-in-form{
                width: 50%;
             }
        }
    }
}

@media (min-width: $large){
    .log-in-container{
        margin: 20px 50px;
        .log-in-content{
            
            .log-in-form{
                width: 35%;
             }
        }
    }
}

.log-in-container{
    padding: 0;
    .log-in-content{
        background-color: white;

        .log-in-form{
            margin: auto;
            padding: 50px 0;

            .log-in-header{
                display: flex;
                cursor: pointer;
                margin-bottom: 10px;

                .active{
                    color: #C92127;
                    border-bottom: 2px solid #C92127;
                }

                .log-in-header-text {
                    width: 100%;
                    text-align: center;
                    margin: 0 10px;
                    padding-bottom: 5px;
                }

                .log-in-header-sign-in{
                    &:hover{
                        color: #C92127;
                        border-bottom: 2px solid #C92127;
                    }
                }

                .log-in-header-sign-up{
                    &:hover{
                        color: #C92127;
                        border-bottom: 2px solid #C92127;
                    }
                }
            }

            .log-in-form-input{
                padding: 0 20px;

                .custom-input-password {
                    position: relative;
    
                    i.show-hide-icon {
                        position: absolute;
                        right: 25px;
                        top: 37px;
                        cursor: pointer;
                    }
                }

                .form-group{
                    margin-top: 20px;
                }

                .forgot-password{
                    cursor: pointer;
                    color:#C92127;
                    text-align: right;
                }

                .sign-in-btn{
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    
                    button{
                        font-weight: 600;
                        color: white;
                        background-color: #C92127;
                        border: none;
                        width: 245px;
                        border-radius: 8px;
                        padding: 10px 0;
                    }
                }

                .back-btn{
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    
                    button{
                        font-weight: 600;
                        color: #C92127;
                        border: 2px solid #C92127;
                        background-color: white;
                        width: 245px;
                        border-radius: 8px;
                        padding: 10px 0;
                    }
                }

                .error-message{
                    text-align: center;
                    color:#dc3545;
                    font-size: 16px;
                }
            }
        }      
    }
}