.account-information-container{
    input{
        font-weight: 600;
    }

    .save-changes-btn{
        font-weight: 600;
    color: white;
    background-color: #C92127;
    border: none;
    width: 210px;
    height: 40px;
    border-radius: 8px;
    margin: auto;
    cursor: pointer;
    }
}