.account-information-container{
    input{
        font-weight: 600;
    }

    .select-gender-option{
        display: flex;
        justify-content: space-between;

        input[type='radio']:after{
            background-color:  #F7941E !important;
        }

        input[type='radio']:checked:after {
            background-color:  #F7941E !important;
        }
    }

    .save-changes-btn{
        font-weight: 600;
    color: white;
    background-color: #C92127;
    border: none;
    width: 210px;
    height: 40px;
    border-radius: 8px;
    margin: auto;
    cursor: pointer;
    }
}