$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

@media (max-width: $medium) {
    .banner-container{
        margin: 10px 0;
    }
}

@media (min-width: $medium) {
    .banner-container{
        padding: 0;
    }
}

@media (min-width: $large) {
    .banner-container{      
        margin: 10px 50px;
 
        .banner-content-up{   
            .banner-content-up-left{

            }
    
            .banner-content-up-right{

            }
             
        }
    }
}


.banner-container{
    .banner-border {
        border-radius: 10px;
        cursor: pointer;
    }

    .banner-content-up{   

        .banner-content-up-left{

        }

        .banner-content-up-right{

        }
         
    }

    .banner-content-down{
        margin: 0;
        margin-top: 5px;
        
        .banner-content-down-item{
            @media (min-width: $large) {
                padding: 0px;
                height: 220px;
            }
        }
        
        .banner-content-down-1{
            background: url('./../../../assets/banner/Fahasa_salethu3_w2_coupon_Smallbanner_310x210.png') no-repeat center center;
            background-size: contain;
        }
        .banner-content-down-2{
            background: url('./../../../assets/banner/TT_T4_Smallbanenr_310x210.png') no-repeat center center;
            background-size: contain;
        }
        .banner-content-down-3{
            background: url('./../../../assets/banner/Tamlinh_mainbanner_T5_Smallbanner_310x210_1.png') no-repeat center center;
            background-size: contain;
        }
        .banner-content-down-4{
            background: url('./../../../assets/banner/TrangDoChoiT523_Banner_SmallBanner_310x210.png') no-repeat center center;
            background-size: contain;
        }
    }

    // Select slick
    .slick-slider{
        border-radius: 10px;
    }

    .slick-prev{     
        left: -20px !important;
        width: 50px !important;
        height: 55px !important;
        opacity: 1;
        z-index: 10;

        &:hover:before{
            font-size: 35px !important;
        }
    }

    .slick-next{
        right: -20px !important;
        width: 50px !important;
        height: 55px !important;
        opacity: 1;

        &:hover:before{
            font-size: 35px !important;
        }
    }

    .slick-prev:before, .slick-next:before{
        @media (max-width: $large) {
            display: none;
         }
        color: rgb(148, 141, 141) !important;
        font-size: 25px !important;
    }

    .slick-disabled{
        display: none !important;
    }

    .slick-dots li {
        pointer-events: none;
        margin: 0;
    }

    .slick-dots{
        button:before{
            opacity: 1 !important;
            background-color: white !important;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            content: '';
        }
    }

    .slick-active{
        button:before{
            opacity: 1 !important;
            background-color: #C92127 !important;
        }
    }

}