.banner-container{
    border: 1px solid red;
    padding: 20px 40px;

    .banner-border {
        border-radius: 8px;
        cursor: pointer;
    }

    .banner-content-up{
        display: flex;
        margin-bottom: 20px;
        

        .banner-content-up-left{
            width: 840px;
            margin-right: 20px;
            
            .banner-content-up-left-1{
                background: url('./../../../assets/banner/Fahasa_salethu3_w2_mainbanner_Slide_840x320.jpg') no-repeat center center;
                width: 840px;
                height: 320px;
            }
            .banner-content-up-left-2{
                background: url('./../../../assets/banner/Slide_V1_840x320.jpg') no-repeat center center;
                width: 840px;
                height: 320px;
            }
            .banner-content-up-left-3{
                background: url('./../../../assets/banner/ZaloPayT523_840x320_SlideBanner.jpg') no-repeat center center;
                width: 840px;
                height: 320px;
            }
            .banner-content-up-left-4{
                background: url('./../../../assets/banner/TuSachThieuNhi_T423_Banner_Slide_840x320_1.jpg') no-repeat center center;
                width: 840px;
                height: 320px;
            }
            .banner-content-up-left-5{
                background: url('./../../../assets/banner/Back2School_T523_mainbanner_840x320.png') no-repeat center center;
                width: 840px;
                height: 320px;
            }
            .banner-content-up-left-6{
                background: url('./../../../assets/banner/HoaCu_840x320_T523.jpg') no-repeat center center;
                width: 840px;
                height: 320px;
            }
        }
        .banner-content-up-right{
            width: 20%;
            height: 100%;

            .up{
                background: url('./../../../assets/banner/PoticoT5_FAHASA\ 392x156\ .png') no-repeat center center;
                width: 392px;
                height: 156px;
                margin-bottom: 10px;
            }
            .down{
                background: url('./../../../assets/banner/Gift_subbanner_392x156.jpg') no-repeat center center;
                width: 392px;
                height: 156px;
            }
        }
    }

    .banner-content-down{
        display: flex;
        
        .banner-content-down-1{
            background: url('./../../../assets/banner/Fahasa_salethu3_w2_coupon_Smallbanner_310x210.png') no-repeat center center;
            width: 310px;
            height: 210px;
        }
        .banner-content-down-2{
            background: url('./../../../assets/banner/TT_T4_Smallbanenr_310x210.png') no-repeat center center;
            width: 310px;
            height: 210px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .banner-content-down-3{
            background: url('./../../../assets/banner/Tamlinh_mainbanner_T5_Smallbanner_310x210_1.png') no-repeat center center;
            width: 310px;
            height: 210px;
            margin-right: 5px;
        }
        .banner-content-down-4{
            background: url('./../../../assets/banner/TrangDoChoiT523_Banner_SmallBanner_310x210.png') no-repeat center center;
            width: 310px;
            height: 210px;
        }
    }

    // Select slick
    .slick-prev{     
        left: -20px !important;
        width: 44px !important;
        height: 48px !important;
        z-index: 1 !important;
        opacity: 1;

        &:hover:before{
            font-size: 35px !important;
        }
    }

    .slick-next{
        right: -20px !important;
        width: 44px !important;
        height: 48px !important;
        z-index: 1 !important;
        opacity: 1;

        &:hover:before{
            font-size: 35px !important;
        }
    }

    .slick-prev:before, .slick-next:before{
        color: rgb(148, 141, 141) !important;
        font-size: 25px !important;
    }

    .slick-disabled{
        display: none !important;
    }

    .slick-dots li {
        pointer-events: none;
        margin: 0;
    }

    .slick-dots{

        button:before{
            opacity: 1 !important;
            background-color: white !important;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            content: '';
        }
    }

    .slick-active{
        
        button:before{
            opacity: 1 !important;
            background-color: #C92127 !important;

        }
    }

}