$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

@media (max-width: $small) {
    .flash-sale-list{
        .flash-sale-item{
            .flash-sale-item-image{
                height: 140px;
            }
        }
    }
}
@media (max-width: $medium) {
    .flash-sale-container{
        margin-top: 20px;
    }
    .flash-sale-list{
        .flash-sale-item{
            .flash-sale-item-image{
                height: 160px;
            }
        }
    }
}

@media (min-width: $medium) {
    .flash-sale-container{
        margin: 20px 25px 0 25px;
    }

    .flash-sale-list{
        .flash-sale-item{
            .flash-sale-item-image{
                height: 160px;
            }
        }
    }
    
}

@media (min-width: $large) {
    .flash-sale-container{
        margin: 20px 25px 0 25px;
    }

    .flash-sale-list{
        .flash-sale-item{
            .flash-sale-item-image{
                height: 190px;
            }
        }
    }
    
}

@media (min-width: $ex-large) {
    .flash-sale-container{
        margin: 20px 40px 0 40px;

    }

    .flash-sale-list{
        .flash-sale-item{
            .flash-sale-item-image{
                height: 190px;
            }
        }
    }
    
}

.flash-sale-container{
    background-color: white;

    .flash-sale-title{
        background-color: #FCDAB0;

        .flash-sale-title-text{
            display: flex;
            padding: 10px 20px;

            .flash-sale-icon{
                background: url('../../../assets/ico_flashsale@3x.png') center center no-repeat;
                background-size: contain;
                width: 25px;
                height: 25px;
                border-radius: 25px;
                margin-right: 10px;
            }
            .flash-sale-text{
                text-transform: uppercase;
                font-size: 1.3em;
                font-weight: 600;
                padding-right: 10px;
                border-right: 2px solid rgb(77, 74, 74);
            }
        }
    }

    .flash-sale-list{
        margin: 20px 20px 25px 20px;

        .flash-sale-item{
            padding-top: 30px;
            cursor: pointer;

            &:hover{
                -webkit-box-shadow: 0px 0px 5px 1px rgba(223, 223, 223, 1);
                -moz-box-shadow: 0px 0px 5px 1px rgba(223, 223, 223, 1);
                box-shadow: 0px 0px 5px 1px rgba(223, 223, 223, 1);
            }

            .flash-sale-item-image{
                // background: url('../../../assets/product/8934974186373_1.jpg') center center no-repeat;
                background-size: contain;
                position: relative;

                .discount{
                    position: absolute;
                    top: -10%;
                    right: 10%;
                    background-color: #f7941e;
                    font-weight: 600;
                    font-size: 1em;
                    color: white;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                }
            }

            .flash-sale-item-text{
                margin: 10px;

                .item-price-chapter{
                    position: relative;

                    .item-discount-price{
                        color: #F7941E;
                        font-weight: 600;
                        font-size: 1.3em;
                    }
                    .item-price{
                        font-size: 1.1em;
                        opacity: 0.8;
                        text-decoration: line-through;
                    }
                    .item-chapter{
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 11px;
                        font-weight: 600;
                        color: white;
                        background-color: #92959B;
                        padding: 2px 10px;
                        border-radius: 5px;
                    }
                }

                .item-sold-process{
                    background-color: #eda6a6;
                    border-radius: 20px;
                    color: white;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }

    }

    .flash-sale-more-button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        .more-sale-product-btn{
            border: none;
            border-radius: 50px;
            color: white;
            font-weight: 600;
            padding: 10px 0;
            width: 220px;
            background-image: linear-gradient(to right, #ff9800, #F7695D);
        }
    }
    


    .slick-slide {
        // margin: 0 5px;
        // height: auto;
    }
    .slick-track {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: nowrap;
        // align-items: stretch;
    }
    .slick-prev{     
        left: 9px !important;
        z-index: 1 !important;
        opacity: 0.7;

        &:hover:before{
            opacity: 1;
        }
    }

    .slick-next{
        right: 20px !important;
        z-index: 1 !important;
        opacity: 0.7;

        &:hover:before{
            opacity: 1;
        }
    }

    .slick-prev:before, .slick-next:before{
        color: #CCCCCC !important;
        font-size: 35px !important;
    }

    .slick-disabled{
        display: none !important;
    }

}