$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200


@media (max-width: $large) {
    .product-category-container{ 
        display: none;
    }
}
@media (max-width: $ex-large) {
    .product-category-container{ 
        padding: 0 25px;
    }
}
@media (min-width: $ex-large) {
    .product-category-container{ 
        padding: 0 60px;
    }
}
.product-category-container{ 
    height: fit-content;
    margin-top: 20px;

    .product-category-content{
        background-color: white;  
        border-radius: 10px;
        padding: 15px;

        .content-title{
            display: flex;
            align-items: center;
            margin: auto;
            padding-bottom: 20px;
            border-bottom: 1px solid #cecece;

            .content-title-icon{
                background: url('./../../../assets/ico_menu_red.svg') no-repeat center center;
                width: 36px;
                height: 36px;
                margin-right: 5px;
            }
            .content-title-text{
                font-size: 22px;
                font-weight: 600;
            }
        }

        .context-items{
            display: flex;
            justify-content: space-around;
            margin-top: 20px;

            .child-item{
                // width: fit-content;
                height: fit-content;
                cursor: pointer;
                display: grid;
                justify-content: center;

                &:hover{
                    color: #C92127;
                }

                .item-image{
                    width: 100px;
                    height: 100px;
                }
                
                .item-text{
                    margin-top: 10px;
                }

                .item1{
                    background: url('../../../assets/productcategory/item1.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item2{
                    background: url('../../../assets/productcategory/item2.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item3{
                    background: url('../../../assets/productcategory/item3.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item4{
                    background: url('../../../assets/productcategory/item4.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item5{
                    background: url('../../../assets/productcategory/item5.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item6{
                    background: url('../../../assets/productcategory/item6.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item7{
                    background: url('../../../assets/productcategory/item7.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item8{
                    background: url('../../../assets/productcategory/item8.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item9{
                    background: url('../../../assets/productcategory/item9.jpg') center center no-repeat;
                    background-size: contain;
                }
                .item10{
                    background: url('../../../assets/productcategory/item10.jpg') center center no-repeat;
                    background-size: contain;
                }


            }
        }
    }
}