$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

.quick-access-container{
    // padding: 0 30px;

    @media (max-width: $small) {
        // padding: 0 30px;
        // border: 1px solid red;
    }
    @media (min-width: $medium) {
        padding: 0 30px;
        // border: 1px solid red;
    }
    @media (max-width: $medium) {
        // border: 1px solid red;
        // padding: 0 30px;
    }
    // @media (min-width: $large) {
    //     padding: 0 40px;
    // }
    @media (min-width: $ex-large) {
        padding: 0 60px;
        // border: 1px solid red;
    }

    .quick-access-content{
        .quick-access-menu{
            background-color: white;
            padding: 20px 0;
            margin: auto;
            display: flex;
            justify-content: space-around;

            @media (max-width: $small) {
                padding-left: 5px;
            }

            .quick-access-item{
                height: 100%;
                display: grid;
                position: relative;

                @media (max-width: $small){ 
                    padding: 0;
                    margin-right: 5px;
                    margin-top: 10px;
                }
                @media (min-width: $small){ 
                    padding: 0;
                    margin-right: 5px;
                    margin-top: 10px;
                }
                @media (min-width: $medium) {
                    padding: 0;
                    margin-right: 5px;
                    margin-top: 10px;
                }

                .item-image{
                    margin: auto;

                    .share-item{
                        width: 45px;
                        height: 45px;
                        cursor: pointer;
                    }

                    .flash-sale{
                        background: url('./../../../assets/quickaccess/flashsale.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .sale-code{
                        background: url('./../../../assets/quickaccess/magiamgia.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .trending{
                        background: url('./../../../assets/quickaccess/trending.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .new-product{
                        background: url('./../../../assets/quickaccess/sanphammoi.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .tuesday-sale{
                        background: url('./../../../assets/quickaccess/salethu3.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .literature{
                        background: url('./../../../assets/quickaccess/vanhoc.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .mentality-skills{
                        background: url('./../../../assets/quickaccess/tamlykinang.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .manga-comic{
                        background: url('./../../../assets/quickaccess/mangacomic.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .old-book{
                        background: url('./../../../assets/quickaccess/phiencholsachcu.png') no-repeat center center;     
                        background-size: contain;
                    }
                    .economic{
                        background: url('./../../../assets/quickaccess/kinhte.png') no-repeat center center;     
                        background-size: contain;
                    }
                }
                .item-text{
                    text-align: center;
                    margin: auto;
                    margin-top: 10px;

                    @media (max-width: $small) {
                        // margin-top: 10px;
                        // width: 75px;
                    }
                    @media (min-width: $medium) {
                    //    border: 1px solid red;
                    // font-size: 13px;
                    //    width: 75px;
                    }
    
                }
            }
        }
    }
}