$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

.sign-up-newletter-container{
    height: fit-content;
    margin-top: 20px;

    @media (max-width: $medium) {
        display: none;
    }
    @media (min-width: $medium) {
        padding: 0 40px;
    }
    @media (min-width: $large) {
        padding: 0 40px;
    }
    @media (min-width: $ex-large) {
        padding: 0 75px;
    }

    .sign-up-newletter-content{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #9fa7ab;
        height: fit-content;
        // padding: 20px 80px;

        @media (min-width: $medium) {
            padding: 20px;
        }

        .sign-up-newletter-title{
            @media (min-width: $medium) {
                display: block;
                text-align: left;
            }
            @media (min-width: $large) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            i{
                font-size: 20px;
                color: lightgray;
            }

            span{
                margin-left: 10px;
                font-size: 19px;
                text-transform: uppercase;
                color: white;
            }
        }

        .sign-up-newletter-input{
            display: flex;
            position: relative;

            input{
                height: 45px;
                position: relative;
                border-radius: 8px;
                
                &:focus{
                    box-shadow: none;
                }
            }

            button{
                background-color: #f7941e;
                position: absolute;
                top: 5px;
                right: 20px;
                display: block;
                color: white;
                border: none;
                width: 100px;
                height: 35px;
                border-radius: 8px;

                &:hover{
                    background-color: #C92127;
                }
            }
        }
    }
}