.sharing-edit-modal-container{

    .sharing-edit-modal-title{
        margin-top: 20px;
    }

    .sharing-edit-section{

        margin: auto;
        padding: 20px;
        button.btn{
            width: 100%;
        }
    }
}

