.manage-category-container{
    padding: 20px;

    .manage-category-title{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    .manage-category-add-section{
        width: 50%;
        margin: auto;
        margin-top: 20px;

        button{
            width: 100%;
        }

    }

    
}