$ex-small: 500px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200


@media (max-width: $medium) {
    .select-quantity{
        border-right: 1px solid #adadad;

        input {
            width: 40px;
        }

        button{
            font-size: 1.5em !important;
            padding: 0 !important;
        }
    }
}

@media (min-width: $medium) {
    .select-quantity{
        border: 1px solid #adadad;
        border-radius: 5px;
        width: fit-content;
        padding: 0 !important;

        input {
            width: 30px;
        }
    }

}

@media (min-width: $large) {
    .select-quantity{

        input {
            width: 30px;
        }

        button{
            font-size: 1.5em !important;
            border-radius: 5px;
            margin: auto;
            padding: 0 10px;
        }
    }

}

.select-quantity{
    display: flex;
    align-items: center;

    input {
        position: relative;
        border: none;
        text-align: center;
        font-weight: bold;

        &:focus{
            outline: none;
        }
    }

    input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    button{
        background-color: white;
        border: none;
        color: #adadad;
        margin: auto;
    }
}