$ex-small: 500px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

.footer-container{
    height: fit-content;

    
    @media (max-width: $ex-small){
        padding: 0; 
        margin-bottom:150px;
        margin-top: 70px;
    }
    @media (min-width: $ex-small){
        // margin-bottom:150px;
        margin-top: 70px;
        // padding: 0 30px;
    }
    // @media (min-width: $small){
    //     margin-bottom:150px;
    //     padding: 0;
    //     // border: 1px solid red;
    // }
    // @media (max-width: $medium){
    //     margin-bottom:250px;
    //    padding: 0 25px;
    // }
    @media (min-width: $medium) {
        // margin-bottom:150px;
        margin-top: 0;
        padding: 0 25px;
    }
    @media (min-width: $large){
        padding: 0 40px;
        // margin-bottom:150px;
    }  


    .footer-content{
        background-color: white;

        @media (max-width: $ex-small){
            padding: 0 10px;
        }
        @media (min-width: $ex-small){
            padding: 0 10px;
        }
        @media (max-width: $small) {
            padding-right: 5px;
        }
        @media (min-width: $medium){
            padding: 0 10px;
            // border: 1px solid red;
        }

        .footer-information{
            padding-top: 40px;
            height: 100%;
            display: flex;

            .left{
                @media (max-width: $medium) {
                    border: none; 
                }
                @media (min-width: $large){
                    border-right: 1px solid #cecece;
                    padding-left: 30px;
                    // padding: 0 60px;
                    // margin-bottom:240px;
                    // margin-top: 10px;
                    // border: 1px solid red;
                }
                
                height: fit-content;

                .logo{
                    background: url('./../../../assets/logo.png') no-repeat center center;
                    background-size: contain;
                    width: 301px;
                    height: 49px;
                }

                .address{
                    margin-top: 20px;
                }

                .more-details{

                }

                .social-list{
                        display: flex;
                        margin-top: 50px;
                        margin-bottom: 20px;

                        .icon{
                            width: 40px;
                            height: 40px;
                            cursor: pointer;
                        }

                        .facebook{
                            background: url('../../../assets/Facebook-on.png') center center no-repeat;
                        }
                        .instagram{
                            background: url('../../../assets/Insta-on.png') center center no-repeat;
                        }
                        .youtube{
                            background: url('../../../assets/Youtube-on.png') center center no-repeat;
                        }
                        .tumblr{
                            background: url('../../../assets/tumblr-on.png') center center no-repeat;
                        }
                        .twitter{
                            background: url('../../../assets/twitter-on.png') center center no-repeat;
                        }
                        .pinterest{
                            background: url('../../../assets/pinterest-on.png') center center no-repeat;
                        }     
                }

                .download{
                    display: flex;
                    .android{
                        background: url('../../../assets/android1.png') center center no-repeat;
                        background-size: contain;
                        height: 36px;
                        width: 110px;
                        margin-right: 20px;
                    }
                    .ios{
                        background: url('../../../assets/appstore1.png') center center no-repeat;
                        background-size: contain;
                        height: 36px;
                        width: 110px;
                    }
                }
            }

            .right{
                @media (max-width: $ex-small){
                    margin-top: 20px;
                }
                @media (min-width: $ex-small){
                    margin-top: 20px;
                }
                @media (min-width: $medium){
                    margin-top: 20px;
                }
                
                

                .footer-option{   
                    
                    .footer-option-items{
                        
                       .child-item{
                            margin-top: 10px;
                            cursor: pointer;

                            &:hover{
                                background-position: 0px -40px;
                                padding-left: 15px;
                                color: #ea7696;                            }
                       }
                    }
                }

                .contact-infor {
                    height: fit-content;               

                    .contact-infor-title{
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    
                    .contact-infor-content{
                        margin-top: 10px;
                        padding: 0;
                        margin: 0;
                        
                        .contact-infor-item{
                            padding: 0;

                            i{
                                padding: 0;
                            }
                            span{
                                margin-left: 10px
                            }
                        }
                       
                    }
                }

                .payments-method{
                    display: grid;
                    margin-top: 20px;

                    .payments-up{
                        display: grid;
                        grid-template-columns: repeat(4,1fr);                 
                    }

                    .payments-down{
                        display: grid;
                        grid-template-columns: repeat(5,1fr);
                    }


                    .payment-icon{
                        width: 150px;
                        height: 100px; 
                        
                        .payment-1{
                            background: url('./../../../assets/payments/vnpost.png') no-repeat center center;
                            background-size: contain;
                            margin-top: 10px;
                            height: 70px;
                        }

                        .payment-2{
                            background: url('./../../../assets/payments/ahamove_logo3.png') no-repeat center center;
                            background-size: contain;
                            height: 100px;
                        }
                        .payment-3{
                            background: url('./../../../assets/payments/icon_giao_hang_nhanh1.png') no-repeat center center;
                            background-size: contain;
                            height: 100px; 
                        }
                        .payment-4{
                            background: url('./../../../assets/payments/icon_snappy1.png') no-repeat center center;
                            background-size: contain;
                            height: 100px;
                        }
                        .payment-5{
                            background: url('./../../../assets/payments/vnpay_logo.png') no-repeat center center;
                            background-size: contain;
                            height: 100px;
                        }
                        .payment-6{
                            background: url('./../../../assets/payments/ZaloPay-logo-130x83.png') no-repeat center center;
                            background-size: contain; 
                            height: 100px; 
                        }
                        .payment-7{
                            background: url('./../../../assets/payments/momopay.png') no-repeat center center;
                            background-size: contain; 
                            margin-top: 20px;
                            height: 50px; 
                        }
                        .payment-8{
                            background: url('./../../../assets/payments/shopeepay_logo1.png') no-repeat center center;
                            background-size: contain; 
                            margin-top: 20px;
                            height: 50px; 
                        }
                        .payment-9{
                            background: url('./../../../assets/payments/logo_moca_120.jpg') no-repeat center center;
                            background-size: contain; 
                            height: 80px; 
                        }
                    }
                }
            }

            .footer-titles{
                text-transform: uppercase;
                font-weight: 600;
                padding: 0;
            }
        }
        
        .footer-copyright{
            margin: auto;
            margin-top: 20px;
            padding-bottom: 20px;

            p{
                text-align: center;
                color:#adadad;

                a{
                text-decoration: none;
                }
            }
            
        }
    }
}