$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

@media (max-width: $large) {
    .home-header-container{
        background-color: #C92127;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 10px 20px;

        .home-header-logo{
            background: url('./../../../assets/fahasa_logo_small.png') no-repeat center center;
            background-size: contain;
            width: 130px;
            height: 24px;
            margin: auto;
            margin-bottom: 15px;
            cursor: pointer;
        }

        .home-header-menu{
            .home-header-menu-toggle{
                .home-header-menu-toggle-icon{
                    background: url('./../../../assets/ico_menu_white.svg') no-repeat center center;
                    background-size: contain;
                    width: 30px;
                    height: 30px;
                }

                i{
                    display: none;
                }
            }
        }

        .home-header-search-bar{
            padding: 0 10px; 

            input{
                border: none;
                font-size: 13px;
            }

            button{
                display: none;
            }
        }

        .home-header-user-options{
            align-items: center;

            .option{
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: auto;

    
                .fa{
                    color: white;
                }
    
                p{
                    display: none;
                }
            }

            .user-options-notifications{
                display: none !important;
            }

            .user-options-change-language{
                display: none !important;
            }
        }
    }
}

@media (max-width: $medium) {
    .home-header-container{

        .home-header-menu{
        
            .home-header-menu-toggle{

                i{
                    display: none;
                }
            }
        }
    }
}


@media (min-width: $large) {
    .home-header-container{
        background-color: white;
        padding: 20px 30px 0px 70px;

        .home-header-logo{
            background: url('./../../../assets/fahasa_logo.png') no-repeat center center;
            background-size: contain;
            width: 220px;
            height: 36px;
            cursor: pointer;
        }

        .home-header-menu{
        
            .home-header-menu-toggle{
                display: flex;
                justify-content: right;
                align-items: center;

                .home-header-menu-toggle-icon{
                    background: url('./../../../assets/ico_menu.svg') no-repeat center center;
                    background-size: contain;     
                    width: 36px;
                    height: 36px;  
                }

            }
        }

        .home-header-search-bar{
            padding: 0 10px; 

            input{
                height: 40px;
                padding: 0 80px 0 25px;
                border-radius: 8px;
                width: 100%;
            }

            button{
                position: absolute;
                top: 4px;
                right: 5px;
                width: 70px;
                height: 32px;
            }
        }

        .home-header-user-options{
            padding: 0;
        }
    }
}

.home-header-container{           

    .home-header-menu{
        
        .home-header-menu-toggle{

            .home-header-menu-toggle-icon{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            i{
                cursor: pointer;
            }
           
        }
    }

    .home-header-search-bar{
        padding: 0;
        margin: 0;
        display: flex;
        
        input{
            position: relative;
            
            &:focus{
                box-shadow: none;
            }
        }

        button{
            background-color: #C92127;
            color: white;
            border: none;
            border-radius: 8px;
        }
    }

    .home-header-user-options{
        display: flex;

        .option{
            height: fit-content;
            display: grid;
            cursor: pointer;
            padding: 0;
            justify-content: center;

            .fa{
                text-align: center;
                font-size: 20px;
            }

            p{
                color: #7A7E7F;
                text-align: center;
            }
        }

        .user-options-change-language{

            .language-icon{
                width: 32px;
                height: 20px;
            }
        }

        
    }
    


}