$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200



@media (max-width: $medium) {
    .home-header-container{

        .home-header-menu{
        
            .home-header-menu-toggle{

                i{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: $large) {
    .home-header-container{
        background-color: #C92127;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 10px 20px;

        .home-header-logo{
            background: url('./../../../assets/fahasa_logo_small.png') no-repeat center center;
            background-size: contain;
            width: 130px;
            height: 24px;
            margin: auto;
            margin-bottom: 15px;
            cursor: pointer;
        }

        .home-header-menu{
            .home-header-menu-toggle{
                .home-header-menu-toggle-icon{
                    background: url('./../../../assets/ico_menu_white.svg') no-repeat center center;
                    background-size: contain;
                    width: 30px;
                    height: 30px;
                }

                i{
                    display: none;
                }
            }
        }

        .home-header-search-bar{
            padding: 0 10px; 

            input{
                border: none;
                font-size: 13px;
            }

            button{
                display: none;
            }
        }

        .home-header-user-options{
            align-items: center;

            .option{
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: auto;

    
                .fa{
                    color: white;
                }
    
                p{
                    display: none;
                }
            }

            .user-options-notifications{
                display: none !important;
            }

            .user-options-change-language{
                display: none !important;
            }
        }
    }
}

@media (min-width: $large) {
    .home-header-container{
        background-color: white;
        padding: 25px 30px 10px 50px;

        .home-header-logo{
            background: url('./../../../assets/fahasa_logo.png') no-repeat center center;
            background-size: contain;
            width: 220px;
            height: 36px;
            cursor: pointer;
        }

        .home-header-menu{
        
            .home-header-menu-toggle{
                display: flex;
                justify-content: right;
                align-items: center;
                margin-right: 5px;

                .home-header-menu-toggle-icon{
                    background: url('./../../../assets/ico_menu.svg') no-repeat center center;
                    background-size: contain;     
                    width: 36px;
                    height: 36px;  
                }

            }
        }

        .home-header-search-bar{
            padding: 0 10px; 

            input{
                height: 40px;
                padding: 0 80px 0 25px;
                border-radius: 8px;
                width: 100%;
            }

            button{
                position: absolute;
                top: 4px;
                right: 5px;
                width: 70px;
                height: 32px;
            }
        }

        .home-header-user-options{
            padding: 0;
            padding-left: 20px;
        }
    }
}

.home-header-container{  
    

    .home-header-menu{

        .home-header-menu-toggle{
            
            .home-header-menu-toggle-icon{
                width: 36px;
                height: 36px;
                cursor: pointer;
                
            }
            i{
                cursor: pointer;
            }
        }        
    }

    .home-header-search-bar{
        padding: 0;
        margin: 0;
        display: flex;
        
        input{
            position: relative;
            
            &:focus{
                box-shadow: none;
            }
        }

        button{
            background-color: #C92127;
            color: white;
            border: none;
            border-radius: 8px;
        }
    }

    .home-header-user-options{
        display: flex;

        .option{

            height: fit-content;
            display: grid;
            cursor: pointer;
            padding: 0;
            justify-content: center;
            position: relative;

            .fa{
                text-align: center;
                font-size: 20px;
            }

            p{
                color: #7A7E7F;
                text-align: center;
            }
            .customer-name{
                color: #7A7E7F !important;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                min-width: 10.3em;
                max-width: 10.3em;
                font-size: 0.7em;
                color: #333333;
                text-overflow: ellipsis;
            }

            span{
                font-size: inherit !important;
            }
            .sum-products-in-cart{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #C92127;
                border: 1px solid white;
                color: white;
                font-weight: 600;
                width: 20px;
                height: 20px;
                position: absolute;
                top: -12px;left: 50%;
                border-radius: 20px;
            }
        }

        .user-options-change-language{

            .select-language-option{
                width: 110px;

                .react-select__control{
                    width: 80px;
                    border-radius: 8px;
                    box-shadow: none;
                    cursor: pointer;
                    
                    .react-select__indicators{
                        border: none;
                    }
                    .react-select__dropdown-indicator{
                        padding: 0;
                        margin-right: 5px;
                    }
                    .react-select__indicator-separator{
                        display: none;
                    }
                    .react-select__value-container{
                        min-width: 50px;
                        max-width: 42px;
                    }
                }
                
                .react-select__menu{
                    border-radius: 8px;
                    position: absolute;
                    right: 30px;

                    .react-select__menu-list{
                        width: 90px;
                        margin: auto;
                    }
                    .react-select__option{      
                        width: 90px;
                        cursor: pointer;

                        &:hover{
                            background-color: #F2F4F5;
                            border-radius: 8px;
                        }
                    }
                    .react-select__option--is-selected{
                        background-color: #F2F4F5;
                            border-radius: 8px;
                    }
                }

                .langugage-option{
                    .language-icon{
                        width: 37px;
                        height: 27px;
                        background-size: contain;
                    }
                    span{
                        margin-left: 5px;
                        font-weight: bold;
                        color: #7A7E7F;
                    }
                }
                
            }
           

            
        }

        
    }
    
}

:where(.css-dev-only-do-not-override-w8mnev).ant-dropdown{
    width: 100vw !important;    
    left: 0 !important;
    top: 70px!important;
    // padding: 0 !important;
}