.shipping-address-container{
    .shipping-address-content{
        .shipping-address-text{
            width: fit-content;
            
            label{
                cursor: pointer;
                i{
                    color:#C92127
                }
                span{
                    margin-left: 10px;
                }
            }
        }
    }  
}


.process-checkout-container{
    padding: 20px 40px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-shadow: 0px -9px 7px -2px rgba(171, 171, 171, 1);

    .process-checkout-up-content{
        display: inline-block;
        float: right;
        margin-bottom: 20px;
        
        .sharing-up-content{
            width: 400px;
            display: flex;
            justify-content: space-between;

            label{
                text-align: right;
                width: 250px;
                border: 1px solid red;
            }
            .total-price-vat-label{
                font-weight: 600;
            }
            .total-price-vat-text{
                font-size: 1.2em;
                font-weight: 700;
                color: #F39801
            }
        }
    }

    .process-checkout-down-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ced4da;
        padding-top: 10px;
        clear: both;

        .back-to-cart{
            cursor: pointer;
            width: fit-content;
            font-size: 16px;
            font-weight: 600;

            i{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    
        .process-checkout-btn{
            button{
                background-color: #C92127;
                color: white;
                border: none;
                border-radius: 8px;
                 width: 300px;
                 font-size: 19px;
                padding: 10px 0;
                font-weight: 700;
            }
        }
    }

    

}