.shipping-address-container{
    .shipping-address-content{

        .shipping-address-list{
            
            .user-address-item{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .address-text{
                    display: flex;
                    align-items: center;

                    input{
                        cursor: pointer;
                        height: 17px;
                        width: 17px;
                        // background-color: #C92127 !important;
    
                        // &:checked{
                        //     background-color: #C92127 !important;
                        // }
                    }

                    span{
                        margin-left: 10px;
                    }
                    
                }

                .edit-address-text{
                    margin-right: 10%;
                    cursor: pointer;
                }
            }
        }

        .shipping-address-text{
            width: fit-content;
            margin-top: 10px;
            
            label{
                cursor: pointer;
                i{
                    color:#C92127
                }
                span{
                    margin-left: 10px;
                }
            }
        }
    }  
}

.payment-method-container{
    .payment-method-content{
        .payment-method{
            .payment-method-item{
                margin-top: 20px;
                display: flex;
                cursor: pointer;

                input{
                    cursor: pointer;
                    height: 17px;
                    width: 17px;
                    // background-color: #C92127 !important;

                    // &:checked{
                    //     background-color: #C92127 !important;
                    // }
                }
                
                .payment-img{
                    width: 40px;
                    height: 24px;
                    margin: 0 10px;
                }

                .payment-img-0{
                    background: url('../../../assets/payments/ico_zalopayapp.svg') center center no-repeat;
                }
                .payment-img-1{
                    background: url('../../../assets/payments/ico_mocapay.svg') center center no-repeat;
                }
                .payment-img-2{
                    background: url('../../../assets/payments/ico_vnpay.svg') center center no-repeat;
                }
                .payment-img-3{
                    background: url('../../../assets/payments/ico_airpay.svg') center center no-repeat;
                }
                .payment-img-4{
                    background: url('../../../assets/payments/ico_momopay.svg') center center no-repeat;
                }
                .payment-img-5{
                    background: url('../../../assets/payments/ico_zalopayatm.svg') center center no-repeat;
                }
                .payment-img-6{
                    background: url('../../../assets/payments/ico_zalopaycc.svg') center center no-repeat;
                }
                .payment-img-7{
                    background: url('../../../assets/payments/ico_cashondelivery.svg') center center no-repeat;
                }

            }
        }
    }
}

.check-order-again-container{
    .check-order-again-content{
    
        .check-order-again-list{

            .border-top-none{
                border: none !important;

            }
            
            .product-item{
                display: grid;
                grid-template-columns: 10% 60% 10% 10% 10%;
                border-top: 1px solid #ced4da;
                padding: 5px 0;

                .product-img{
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 150px;
                }

                .product-price{
                    .item-price{
                        color: #bfbfbf;
                    text-decoration: line-through;
                    font-size: 0.95em;
                    }
                }

                .product-total-price{
                    color: #F39801;
                    font-weight: 600;
                }
            }
    
        }
    }

}


.process-checkout-container{
    padding: 20px 40px;
    background-color: white;
    position: sticky;
    bottom: 0;
    width: 100vw;
    box-shadow: 0px -9px 7px -2px rgba(171, 171, 171, 1);

    .process-checkout-up-content{
        display: inline-block;
        float: right;
        margin-bottom: 20px;
        
        .sharing-up-content{
            width: 400px;
            display: flex;
            justify-content: space-between;

            label{
                text-align: right;
                width: 250px;
            }
            .total-price-vat-label{
                font-weight: 600;
            }
            .total-price-vat-text{
                font-size: 1.2em;
                font-weight: 700;
                color: #F39801
            }
        }
    }

    .process-checkout-down-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ced4da;
        padding-top: 10px;
        clear: both;

        .back-to-cart{
            cursor: pointer;
            width: fit-content;
            font-size: 16px;
            font-weight: 600;

            i{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    
        .process-checkout-btn{
            button{
                background-color: #C92127;
                color: white;
                border: none;
                border-radius: 8px;
                 width: 300px;
                 font-size: 19px;
                padding: 10px 0;
                font-weight: 700;
            }
        }
    }

    

}
