.pagination{
    display: flex;
    justify-content: center;
    align-items: center;

    li{
        button,span{
            // position: relative;

            // float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            outline: 0;
            // margin: auto;

            &:hover,&:focus{
                z-index: 2;
                color: #23527c;
                background-color: #eee;
                border-color: #ddd;
            }

            &:disabled{
                color: #777;
                cursor: not-allowed;
                background-color: #fff;
                border-color: #ddd;

                &:hover,&:focus{
                    color: #777;
                    cursor: not-allowed;
                    background-color: #fff;
                    border-color: #ddd;
                }
                
            }
        }

        .active{
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7;

            &:hover,&:focus{
                z-index: 3;
                color: #fff;
                cursor: default;
                background-color: #337ab7;
                border-color: #337ab7;
            }
        }
    }
}