.edit-code-model-container{

    .edit-code-model-title{
        margin-top: 20px;
    }

    .edit-code-section{
        margin: auto;
        padding: 20px;
        button.btn{
            width: 100%;
        }
    }
}

