.manage-all-codes-container{
    padding: 20px;

    .manage-all-codes-title{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }

    .manage-all-codes-add-section{
        width: 50%;
        margin: auto;

        button.btn{
            width: 100%;
        }
    }

}