.cart-container{
    
    margin: 20px 75px;

    table{
        width: 100%;

        tr{
            margin: auto;
        }
    }

    .cart-left-content{
        .left-content-up{
            background-color: white;
            height: fit-content;
            padding: 5px 5px 0px 10px;
            border-radius: 10px;

//                 input[type=checkbox] {
//                     position: relative;
//                       cursor: pointer;
//                }
//                input[type=checkbox]:before {
//                     content: "";
//                     display: block;
//                     position: absolute;
//                     width: 20px;
//                     height: 20px;
//                     top: 0;
//                     left: 0;
//                     // border: 2px solid #555555;
//                     border-radius: 3px;
//                     // background-color: #C92127;
//            }
//            input[type=checkbox]:checked:before {
//             content: "";
//             display: block;
//             position: absolute;
//             width: 20px;
//             height: 20px;
//             top: 0;
//             left: 0;
//             background-color:#1E80EF;
//    }
//                input[type=checkbox]:checked:after {
//                     content: "";
//                     display: block;
//                     width: 20px;
//                     height: 20px;
//                     // background-color: #C92127;
//                     // color: white;
//                     // border-width: 0 2px 2px 0;
//                     // -webkit-transform: rotate(45deg);
//                     // -ms-transform: rotate(45deg);
//                     // transform: rotate(45deg);
//                     // position: absolute;
//                     // top: 2px;
//                     // left: 6px;
//            }
        }

        .left-content-down{
            margin-top: 10px;
            background-color: white;
            height: fit-content;
            padding: 5px 5px 0px 10px;
            border-radius: 10px;

            .cart-item{
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ededed;
                padding: 20px 0;

                .product-section{
                    display: flex;
                    padding: 0;

                    .product-img{
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 100px;
                         width: 100%;
                    }

                    .product-name-price{
                        padding: 0;

                        .product-name{
                            cursor: pointer;
                            color: #333333;
                            font-family: 'Nunito Sans' !important;
                        }

                        .product-price{
                            position: absolute;
                            bottom: 0px;
                            display: flex;

                            .item-discount-price{
                                color: black;
                                font-weight: 600;
                            }

                            .item-price{
                                margin-left: 10px;
                                font-size: 1.1em;
                                opacity: 0.8;
                                text-decoration: line-through;
                                
                            }
                        }
                    }

                    
                }

                .total-price-text{
                    font-weight: 600;
                    color: #C92127;
                    text-align: center;
                }

                .delete-action{
                    border: 1px solid red;
                    padding: 0;
                    margin: 0;
                    
                    .fas{
                        line-height: 1;
                        border: 1px solid red;
                        transition: all 300ms ease-in 0s;
                        &:hover{
                            color: #C92127;
                        }
                    }
                    
                }
                
            }

            
        }
        

    }

    .cart-right-content{
        padding: 0;
        background-color: white;
        border: 1px solid red;
        height: 500px;

    }
    // .cart-content{
    //     margin: 0;

    //     .cart-left-content{

    //         background-color: white;

    //     }

    //     .cart-right-content{

    //         background-color: white;
    //         border: 1px solid red;
    //         height: 500px;

    //     }
    // }
}