$ex-small: 576px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

@media (max-width: $medium) {
    .cart-container{
        margin: 20px 0;
        
        .no-products-content{

            .no-products-img{
                height: 30vw;
            }
            .shopping-now-btn{

                button{
                    width: 50%;
                    font-weight: 500;
                }
               
            }
        }
    }
}

@media (min-width: $medium) {
    .cart-container{
        margin: 20px;
        .no-products-content{
            .no-products-img{
                height: 20vw;
            }
            .shopping-now-btn{

                button{
                    width: 50%;
                    font-weight: 500;
                }
               
            }
        }
    }
}

@media (min-width: $large) {
    .cart-container{
        margin: 20px 50px;

        .no-products-content{
            border-radius: 10px;

            .no-products-img{
                height: 10vw;
            }

            .shopping-now-btn{
                button{
                     width: 20%;
                    font-weight: 600;
                }
            }
        }
    }
}

.cart-container{
    table{
        width: 100%;

        th,tr{
            // margin: auto;
        }
    }

    .have-products-content{
        
        .cart-left-content{
            padding: 0;
            padding-right: 10px;

            .left-content-up{
                background-color: white;
                height: fit-content;
                padding: 5px 5px 0px 10px;
                border-radius: 10px;

   
            }

            .left-content-down{
                margin-top: 10px;
                background-color: white;
                height: fit-content;
                padding: 5px 5px 0px 10px;
                border-radius: 10px;

                .cart-item{
                    justify-content: left;
                    align-items: center;
                    border-bottom: 1px solid #ededed;
                    padding: 20px 0;

                    .product-section{
                        display: flex;
                        padding: 0;

                        .product-img{
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            height: 100px;
                            width: 100%;
                        }

                        .product-name-price{
                            padding: 0;

                            .product-name{
                                cursor: pointer;
                                color: #333333;
                                font-family: 'Nunito Sans' !important;
                            }

                            .product-price{
                                position: absolute;
                                bottom: 0px;
                                display: flex;

                                .item-discount-price{
                                    color: black;
                                    font-weight: 600;
                                }

                                .item-price{
                                    margin-left: 10px;
                                    font-size: 1.1em;
                                    opacity: 0.8;
                                    text-decoration: line-through;
                                    
                                }
                            }
                        }

                        
                    }

                    .total-price-text{
                        font-weight: 600;
                        color: #C92127;
                        padding: 0;
                        text-align: center;
                    }

                    .delete-action{
                        padding: 0;
                        margin: 0;
                        
                        .fas{
                            cursor: pointer;
                            transition: all 300ms ease-in 0s;

                            &:hover{
                                color: #C92127;
                            }
                        }
                        
                    }
                    
                }

                
            }
            

        }

        .cart-right-content{
            background-color: white;
            height: fit-content;
            padding: 10px 15px;
            border-radius: 10px;
                
            .sharing-right-content{
                display: flex;
                justify-content: space-between;
                padding: 0;

                .total-price-vat-label{
                    font-size: 18px;
                    font-weight: 700;
                }
                .total-price-vat-text{
                    font-size: 20px;
                    font-weight: 700;
                    color: #C92127;
                }
            }

            .border-bottom{
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #ededed;
            }

            .pay-check-btn{
                margin-top: 10px;
                
                button{
                    color: white;
                    border: none;
                    border-radius: 8px;
                    width: 100%;
                    text-transform: uppercase;
                    padding: 10px 0;
                    font-weight: 600;
                }

                .click-allowed{
                    background-color: #C92127;
                }

                .click-not-allowed{
                    background-color: rgb(224,224,224);
                    cursor: not-allowed;
                }
            }

        }
    }
    
    .no-products-content{
        padding: 30px 0;
        background-color: white;
        display: block;

        .no-products-img{
            background: url('./../../../assets/ico_emptycart.svg') no-repeat center center;
            background-size: contain;
            margin-bottom: 15px;
        }
        .no-products-text{
            text-align: center;
            margin: 10px 0;
        }
        .shopping-now-btn{
            text-align: center;

            button{
                background-color: #C92127;
                color: white;
                border: none;
                border-radius: 8px;
                text-transform: uppercase;
                padding: 10px 0;
                font-weight: 600;
            }
           
        }
    }
}