$ex-small: 500px;//Extra small < 576px
$small: 576px;//Small small >= 576px
$medium: 768px; // Medium >= 768
$large: 992px;// Large >= 768
$ex-large: 1200px;// Extra large >= 1200

@media (min-width: $large){
    .dropdown-menu-container{
        padding: 10px;
        margin: 0 30px;

        .left-menu{
            .left-menu-title{
                font-size: 1.35em;
            }
            .left-menu-list-category{
                .left-menu-category-item{
                    padding: 6px 10px;
                    font-weight: 600;
                    font-size: 1em;
                }
            }
        }

        .right-menu{      
            .right-menu-title{
                font-size: 1.5em;
            }
            .right-menu-sub-category{
    
                .sub-category-item{
                    margin-top: 7px;
    
                    .sub-category-title{
                    }
                    .child-category-list{
                        .child-category-item{
                            // font-size: 0.5em !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $ex-large){
    .dropdown-menu-container{
        padding: 20px 10px;
        margin: 0 30px;

        .left-menu{
            .left-menu-title{
                font-size: 1.7em;
            }
            .left-menu-list-category{
                .left-menu-category-item{
                    padding: 12px 10px;
                    font-weight: 750;
                    font-size: 1.25em;
                }
            }
        }

        .right-menu{      
            .right-menu-title{
                font-size: 1.7em;
            }
            .right-menu-sub-category{
    
                .sub-category-item{
                    margin-top: 10px;
    
                    .sub-category-title{
                    }
                    .child-category-list{
                        .child-category-item{
                            // font-size: 0.5em !important;
                        }
                    }
                }
            }
        }
    }
}

.dropdown-menu-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.42);
    height: max-content;

    .left-menu{
        border-right: 1px solid #cecece;
        
        .left-menu-title{
            font-weight: bold;
            color: #7A7E7F;
            text-align: left;
            padding: 0 10px;
        }

        .left-menu-list-category{
            .left-menu-category-item{
                width: 100%;
                color: #212121;
                border-radius: 8px;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                transition: none;
                cursor: pointer;

                &:hover{
                    background-color: #e2dede;
                }
            }
        }
    }

    .right-menu{
        .right-menu-title{
            font-weight: bold;
            text-align: left;
            padding: 0 10px;
        }

        .right-menu-sub-category{

            .sub-category-item{

                .sub-category-title{
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;
                }

                .child-category-list{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    max-height: 110px;
                    overflow: hidden;

                    .child-category-item{
                        color: #666;
                        cursor: pointer;
                        transition: all 300ms ease-in 0s;
                        
    
                        &:hover{
                            color: #bf9a61;
                        }
                    } 
                }

                .view-all-child-category{
                    p{
                        cursor: pointer;
                        color: #2489f4;
                        width: fit-content;
                    }
                }
            }
        }
    }

}