.sharing-manage-container{
    .manage-discount-actions{
        margin: 20px auto;
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;

        label{
            font-size: 17px;
            font-weight: 600;
        }
        input[type=number]{
            margin: 0 20px;
            width: 100px;
        }

        input[type=text]{
            margin: 0 20px;
            width: 300px;
        }

        button{
            border: none;
            padding: 5px 15px;
            border-radius: 5px;
        }
    }

    .manage-sharing-table{
        .sharing-table{
            .selected{
                
            }
            .product-discount-item{
                cursor: pointer;
            }
        }
    }
}

input[type=checkbox]{
    width: 17px;
    height: 17px;
}

